// sass-lint:disable no-vendor-prefixes
.slider-input {
  -webkit-appearance: none;

  width: 150px;

  &::-webkit-slider-runnable-track {
    background: $light-gray;
    border: 0;
    height: 2px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: transparentize($white, .2);
    border: 1.5px solid $dark-blue;
    border-radius: 50%;
    height: 28px;
    margin-top: -13px;
    width: 28px;

    &:hover {
      border: 1.5px solid lighten($dark-blue, 10%);
    }
  }

  &:focus { outline: none; }

  &:hover {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: $dark-blue;
      transition: border .2s ease;
    }
  }
}
