<div class="slider-picker">
  <div class="label-container">
    {{> atoms-label(content: "Saturation") }}
  </div>

  <div>
    {{> atoms-slider-input }}
    <div class="value">{{ value }}</div>
  </div>
</div>
