<div class="slider-picker">
  <div>
    {{> atoms-label(content: "Flavor") }}
  </div>

  <div>
    {{> atoms-slider-input }}
    <div>
      <span class="value">60</span>
      <span class="unit">flavenoids</span>
    </div>
  </div>
</div>
