<div class="slider-picker">
  <div class="label-container">
    {{> atoms-label(content: "Saturation") }}
  </div>

  <div>
    {{> atoms-slider-input }}
    <div>
      <div
        class="value"
        style="padding-left: 100px">{{ value }}</div>
    </div>
  </div>
</div>
