.slider-picker {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin: 50px;
  margin-bottom: 3rem;
  width: 150px;

  .label-container {
    margin-bottom: 10px;
  }

  .value {
    font-size: 13px;
    font-weight: 100;
    margin-top: 4px;
  }

  .unit {
    text-transform: lowercase;
  }
}
