<div class="slider-set">
  {{> atoms-header2 (content: "Image settings")}}
  {{> molecules-slider-picker (value: 60, label: "Saturation") }}
  {{> molecules-slider-picker (value: 20, label: "Contrast") }}
  {{> molecules-slider-picker (value: 90, label: "Value") }}
</div>
