<div class="slider-set">
  {{> atoms-header2 (content: "Image settings")}}
  {{> molecules-slider-picker (value: 60, content: "Saturation") }}
  {{> molecules-slider-picker (value: 20, content: "Contrast") }}
  {{> molecules-slider-picker (value: 90, content: "Value") }}
</div>
