<ul class="style-guide-colors">
	{{# colors }}
	<li>
		<div class="style-guide-swatch purplez">
			<div class={{ color }}></div>
		</div>
		<span class="style-guide-label">
			${{ color }} <br />
			{{ hexValue }}
		</span>
	</li>
	{{/ colors }}
</ul>
